<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test ===> Ejs</title>
</head>
<body>
    
   <%
        var cars = [
            {name:'SM5', price:3000, year:1999, company:'SAMSUNG'},
            {name:'SM7', price:5000, year:2013, company:'SAMSUNG'}
        ];
    %>

    <h1>자동차 목록</h1>
    사용자 : <%= user %>
    <table border="1">
       <%
            for (var i in cars) {
        %>
                <tr>
                    <td><%=cars[i].name %></td>
                    <td><%=cars[i].price %></td>
                    <td><%=cars[i].year %></td>
                    <td><%=cars[i].company %></td>
                </tr>
        <%            
            }
        %>
    </table>

</body>
</html>